:root {
    background-image: linear-gradient(to right, #0d3931, #2b0051);
    font-weight: 300;
    font-size: 12pt;
}

* {
    margin: 0px;
    border: none;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

h1 {
    z-index: 99;
    position: relative;
    top: 100px;
    color: rgb(255, 249, 230);
    font-family: Pixelify Sans;
    width: 380px;
    text-align: center;
}

.imagen {
    width: 500px;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.parrafo1 {
    font-size: 2em;
    font-family: Pixelify Sans;
    color: white;
    text-align: center;
}

button {
    margin: 15px 0px 15px 0px;
    padding: 0;
    border: 1mm solid white;
    border-radius: 30px;
    background: transparent;
    cursor: pointer;
    outline: none;
    font-family: Pixelify Sans;
    color: white;
    width: 250px;
    height: 120px;
    font-size: 2.5em;
}

button:active {
    color: black;
    background: rgb(147, 248, 186);
    border: 1mm solid black;
}

#excusa {
    font-size: 3em;
    font-family: Pixelify Sans;
    color: rgb(0, 255, 153);

    margin-bottom: 20px;
    text-align: center;
}

.ganador {
    color: rgb(94, 255, 94);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}

#ganadorImg {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    max-width: 80vw;
    max-height: 80vh;
    z-index: 101;
    display: none;
    border: 10px solid silver;
}

@media screen and (min-width: 1px) and (max-width: 600px) {
    :root {
        font-size: 6pt;
    }

    .imagen {
        width: 250px;
    }

    h1 {
        top: 36px;
    }

    button {
        width: 150px;
        height: 75px;
    }

    .contenedor {
        margin: 0px 15px;
    }
}
